.primary {
    position: relative;
    width: 400px;
    height: 400px;
    margin: 40px auto;
    border: 2px solid black;
    border-radius: 15%;
    background: black;
    overflow: hidden;
}

/* .finite {
    position: absolute;
    margin: -2px;
    width: inherit;
    height: inherit;
    border: 2px solid black;
    border-radius: 15%;
    background: linear-gradient(rgba(0, 89, 255, 0.918) 10%, rgb(71, 255, 81), rgb(114, 18, 42) 90%);
    opacity: 0;
} */
/* 
.primary:hover .finite {
    opacity: 0.9;
} */

.finite {
    opacity: 0;
    width: 120%;
    height: 140%;
    transition: opacity 2s;
    background: url(preview.jpg) no-repeat 0% 10%;
}

.primary:hover .finite {
    opacity: 1;
}